[Unit]
Description=PowerShell CPU Sampler Service
After=network.target

[Service]
Type=simple
User=canute
ExecStart=/usr/bin/pwsh -Command "Import-Module /home/canute/Develop/PowerNixx/PowerNixx.psd1; . /home/canute/Develop/PowerNixx/Public/Cpu.ps1; while ($true) { Get-CpuFromProc -SampleInterval 1 | ConvertTo-Json | Out-File -FilePath /var/log/cpusampler.log -Append; Start-Sleep -Seconds 10 }"
WorkingDirectory=/home/canute/Develop/PowerNixx
Restart=always
RestartSec=10
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
